.container{
    display: flex;
    justify-content: space-evenly;
}
.button{
    background-color: rgb(195, 180, 9);
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    
}
